/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$borderDark: rgba(255, 255, 255, 0.09);
$borderLight: rgb(239, 239, 245);
$bgDark: rgb(24, 24, 28);
$bgLight: #ffffff;

.tree {
  width: 100%;
  position: relative;
  overflow: auto;
}

.scroll {
  height: calc(100vh - 230px);
}

.container {
  width: 100%;
  height: calc(100vh - 230px);
  overflow: auto;
  white-space: nowrap
}

.workflowModal {
  width: 600px;
  height: 250px;
}

.menuModal {
  width: 600px;
  height: 250px;
}

.reName {
  width: 600px;
  height: 200px;
}

.dark {
  border: solid 1px $borderDark;
  background-color: $bgDark;
}

.light {
  border: solid 1px $borderLight;
  background-color: $bgLight;
}
